@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Montserrat", sans-serif;

  /* Colors */
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 92%);
  --color-dark: hsl(252, 30%, 17%);
  /* Size */
  --h1-font-size: 8rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.25rem;
  --text-font-size: 1.825rem;
  /* Weights */
  --font-medium: 400;
  --font-light: 300;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* Margins */
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
a {
  color: var(--color-dark);
}

.main {
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/Background_6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem;
}

.title-box {
  width: 600px;
  height: 500px;
}

.title-box h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}
.title-box p {
  font-size: var(--text-font-size);
  font-weight: var(--font-light);
  margin: 4.25rem 0;
}
